{% extends 'base.html' %}

{% block mid_section %}
<div class="mid-section">
    <span class="header-link">
        <a class="nav-link" href="/">
            <span>Home</span>
        </a>
    </span>
    <span class="header-link" style="
    background-color:rgb(55, 114, 255);
    transform: skewX(-8deg);
    ">
        <a class="nav-link" href="/grind" style="transform: skewX(8deg);">
            <span>Grind</span>
        </a>
    </span>
</div>
{% endblock %}

{% block body %} {% endblock %}