{% extends 'base.html' %}

{% block mid_section %}
<div class="mid-section">
    <span class="header-link">
        <a class="nav-link" href="/">
            <span>Home</span>
        </a>
    </span>
    <span class="header-link" style="
    background-color:rgb(55, 114, 255);
    transform: skewX(-8deg);
    ">
        <a class="nav-link" href="/grind" style="transform: skewX(8deg);">
            <span>Grind</span>
        </a>
    </span>
</div>
{% endblock %}

{% block body %}
<img class='grind-bg-img' src="{{ url_for('static', filename='website-images/grindpage_bg.png') }}" alt='Background for Grindpage'>
<div class='grindpage-content-container'>
    <img class='grind-content-container-bg-img' src="{{ url_for('static', filename='website-images/grindpage_content_bg.png') }}" alt='Background for Grindpage Content'>
    <h1 id='h1-grindpage'>Start Grinding</h1>
    <ol>
        <li>Download the Game</li>
        <li>Enter your Credit Card details</li>
        <li>Play your account</li>
        <li>Profit</li>
    </ol>
</div>

{% endblock %}